<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<title>网站开发</title>
	<link rel="stylesheet" href="/css/reset.css" />
	<link rel="stylesheet" href="/css/home.css">
	<link rel="stylesheet" href="/css/icon/iconfont.css">
</head>
<body>
<div class="wp">	

	<div class="wp-nav">
		<ul class="wp-nav-top">
			<li><span class="iconfont">&#xe60a;</span></li>
			<li><span class="iconfont">&#xe607;</span></li>
			<li><span class="iconfont">&#xe608;</span></li>
		</ul>
		<ul class="wp-nav-bottom">
			<li><span class="iconfont">&#xe602;</span></li>
		</ul>
	</div>

	<div class="wp-cont">
		<div class="home">
			<div class="home-nav">
				<ul>
					<li class="on"><span class="iconfont">&#xe60a;</span>首页</li>
					<li><span class="iconfont">&#xe60d;</span>表演</li>
					<li><span class="iconfont">&#xe60b;</span>理论</li>
					<li><span class="iconfont">&#xe60c;</span>教学</li>
				</ul>
				<div class="home-user">
				</div>
			</div>
			<div class="timeline">
				<div class="tl-content clearfix">
					<a href="" class="userphoto">
						<em><img src="images/photo.png" /></em>
						<span>用户名</span>
					</a>
					<span class="iconfont tl-type">&#xe60d;</span>
					<a href="javascript:void(0)" class="opus">
						<img src="images/2.jpg">
						<strong>文章标题</strong>
						<span>ULMEN 审判由 13个挑战项目所组成。每个项目都是由一些每个项目都是由一些想挑战这13个挑战项目所组成。每个项目都是由一些每个项目都是由一些想挑战这</span>
					</a>
				</div>
				<div class="tl-content clearfix">
					<a href="" class="userphoto">
						<em><img src="images/photo.png" /></em>
						<span>比较长的名字</span>
					</a>
					<span class="iconfont tl-type">&#xe60b;</span>
					<a href="javascript:void(0)" class="opus">
						<strong>文章标题</strong>
						<span>ULMEN 审判由 13个挑战项目所组成。每个项目都是由一些每个项目都是由一些想挑战这13个挑战项目所组成。每个项目都是由一些每个项目都是由一些想挑战这</span>
					</a>
				</div>
				<div class="tl-content clearfix">
					<a href="" class="userphoto">
						<em><img src="images/photo.png" /></em>
						<span>name</span>
					</a>
					<span class="iconfont tl-type">&#xe60c;</span>
					<a href="javascript:void(0)" class="opus">
						<strong>文章标题</strong>
						<span>ULMEN 审判由 13个挑战项目所组成。每个项目都是由一些每个项目都是由一些想挑战这13个挑战项目所组成。每个项目都是由一些每个项目都是由一些想挑战这</span>
					</a>
				</div>
				<div class="tl-content clearfix">
					<a href="" class="userphoto">
						<em><img src="images/photo.png" /></em>
						<span>name</span>
					</a>
					<span class="iconfont tl-type">&#xe60c;</span>
					<a href="javascript:void(0)" class="opus">
						<strong>文章标题</strong>
						<span>ULMEN 审判由 13个挑战项目所组成。每个项目都是由一些每个项目都是由一些想挑战这13个挑战项目所组成。每个项目都是由一些每个项目都是由一些想挑战这</span>
					</a>
				</div>	
				<div class="tl-content clearfix">
					<a href="" class="userphoto">
						<em><img src="images/photo.png" /></em>
						<span>name</span>
					</a>
					<span class="iconfont tl-type">&#xe60c;</span>
					<a href="javascript:void(0)" class="opus">
						<img src="images/1.jpg">
						<strong>文章标题</strong>
						<span>ULMEN 审判由 13个挑战项目所组成。每个项目都是由一些每个项目都是由一些想挑战这13个挑战项目所组成。每个项目都是由一些每个项目都是由一些想挑战这</span>
					</a>
				</div>	
				<div class="tl-content clearfix">
					<a href="" class="userphoto">
						<em><img src="images/photo.png" /></em>
						<span>name</span>
					</a>
					<span class="iconfont tl-type">&#xe60c;</span>
					<a href="javascript:void(0)" class="opus">
						<strong>文章标题</strong>
						<span>ULMEN 审判由 13个挑战项目所组成。每个项目都是由一些每个项目都是由一些想挑战这13个挑战项目所组成。每个项目都是由一些每个项目都是由一些想挑战这</span>
					</a>
				</div>	
				<div class="tl-content clearfix">
					<a href="" class="userphoto">
						<em><img src="images/photo.png" /></em>
						<span>name</span>
					</a>
					<span class="iconfont tl-type">&#xe60c;</span>
					<a href="javascript:void(0)" class="opus">
						<strong>文章标题</strong>
						<span>ULMEN 审判由 13个挑战项目所组成。每个项目都是由一些每个项目都是由一些想挑战这13个挑战项目所组成。每个项目都是由一些每个项目都是由一些想挑战这</span>
					</a>
				</div>	
				<div class="tl-content clearfix">
					<a href="" class="userphoto">
						<em><img src="images/photo.png" /></em>
						<span>name</span>
					</a>
					<span class="iconfont tl-type">&#xe60c;</span>
					<a href="javascript:void(0)" class="opus">
						<strong>文章标题</strong>
						<span>ULMEN 审判由 13个挑战项目所组成。每个项目都是由一些每个项目都是由一些想挑战这13个挑战项目所组成。每个项目都是由一些每个项目都是由一些想挑战这</span>
					</a>
				</div>	
			</div>
		</div>
	</div>

</div>

<script data-main="/js/app.js" src="/js/lib/require.min.js"></script>

</body>
</html>