<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<title>网站开发</title>
	<link rel="stylesheet" href="/css/reset.css" />
	<link rel="stylesheet" href="/css/work.css">
	<link rel="stylesheet" href="/css/icon/iconfont.css">
</head>
<body>
<div class="wp">	

	<div class="wp-nav">
		<ul class="wp-nav-top">
			<li><span class="iconfont">&#xe60a;</span></li>
			<li><span class="iconfont">&#xe607;</span></li>
			<li><span class="iconfont">&#xe608;</span></li>
		</ul>
		<ul class="wp-nav-bottom">
			<li><span class="iconfont">&#xe602;</span></li>
		</ul>
	</div>

	<div class="wp-cont">
		<div class="work">
			<div class="work-folder">
				
				<ul>
					<li><span class="iconfont">&#xe60d;</span>我的表演</li>
					<li class="on"><span class="iconfont">&#xe60b;</span>原创理论</li>
					<li><span class="iconfont">&#xe60c;</span>原创教学</li>
				</ul>
			</div>
			<div class="work-file">
				<div class="work-add-top">
					<a href="">创建理论</a>
				</div>
				<ul class="work-theory">
					<li>
						<strong>ULMEN 审判由 13个挑战项目</strong>
						<p>
							<span class="iconfont">&#xe60e;</span><em>已发表</em>
							<span class="iconfont"></span><em></em>
							<span class="iconfont"></span><em></em>
						</p>
						<span class="iconfont work-set">&#xe602;</span>
					</li>
					<li class="on">
						<strong>ULMEN 审判由 13个挑战项目</strong>
						<p>
							<span class="iconfont">&#xe60e;</span><em>已发表</em>
							<span class="iconfont"></span><em></em>
							<span class="iconfont"></span><em></em>
						</p>
					</li>
					
					
				</ul>
				<div class="work-add-bottom">
					<a href="">创建理论</a>
				</div>
			</div>
			<div class="work-right">
				
			</div>
		</div>
	</div>

</div>

<script data-main="/js/app.js" src="/js/lib/require.min.js"></script>

</body>
</html>