<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<title>网站开发</title>
	<link rel="stylesheet" href="/css/reset.css" />
	<link rel="stylesheet" href="/css/work.css">
	<link rel="stylesheet" href="/css/icon/iconfont.css">
</head>
<body>
<div class="wp">	

	<div class="wp-nav">
		<ul>
			<li class="on"><span class="iconfont">&#xe607;</span></li>
			<li><span class="iconfont">&#xe608;</span></li>
		</ul>
	</div>

	<div class="wp-cont">
		<div class="work">
			<div class="work-left">
			</div>
			<div class="work-right">
			</div>
		</div>
	</div>

</div>

<script data-main="/js/app.js" src="/js/lib/require.min.js"></script>

</body>
</html>