/*user
-----------------------------------------------------------*/
.user{z-index:2;
    position:fixed;top:50px;right:20px;
}
.user-box{
    width:270px;height:212px;
    background:#ddd;
    background:url(images/aaaa.png) 0 0 no-repeat;
    border-radius:5px;
}

/*user
-----------------------------------------------------------*/
.home{width:100%;
    position:relative;
}
.home-nav{z-index:1;
    position:fixed;left:50px;right:10px;top:0;
    height:36px;
    /*border-bottom:1px solid #333;*/
    box-shadow:0 1px 2px rgba(0,0,0,.3);
    background:url(images/home-top.png) 0 0 repeat-x;
}
.home-nav-main li{
    float:left;position:relative;
    padding:0 5px;height:35px;margin-right:10px;
    cursor:pointer;
    font-size:14px;line-height:35px;color:#aaa;
    text-shadow:1px 1px 0 #333;
    box-sizing:border-box;
    transition:all ease-out .3s;
}

.home-nav-main li .iconfont{
    padding:0 2px;
    font-size:18px;color:#999;
    text-shadow:none;
    transition:all ease-out .3s;
}
.home-nav-main li .iconfont:first-child{padding:0 4px;}
.home-nav-main li:hover{
    color:#ddd;
}
.home-nav-main li:hover .iconfont{
    color:#ddd;
    text-shadow:1px 1px 0 #333;
}
.home-nav-main li.on,
.home-nav-main li.on .iconfont{color:#ddd;
    text-shadow:1px 1px 0 #333;
}

.home-nav-own{
    padding-right:20px;
    float:right;
}
.home-nav-own dd{
    float:left;position:relative;
    height:35px;padding:0 10px;
    cursor: pointer;
    font-size:14px;line-height:35px;color:#aaa;
    text-shadow:1px 1px 0 #333;
    box-sizing:border-box;
    transition:all ease-out .3s;
}
.home-nav-own dd:hover{
    color:#fff;
}
.home-nav-own dd .iconfont.first{
    font-size:24px;float:left;margin-right:4px;
}

/*tl
-----------------------------------------------------------*/

.timeline{
    position:relative;
    padding:10px 40px;
    margin:36px auto 0;
}
.timeline:before{
    position:absolute;top:0;bottom:0;left:73px;
    content:' ';
    width:1px;
    background:#666;
    border-left:1px solid #333;
}
.tl-content{position:relative;
    clear:both;padding:10px 0;
    box-sizing:border-box;
}
.tl-content > .opus{
    float:left;
    display:block;position:relative;
    width:300px;
    padding:10px;
    background:#f1f1f1;
    border:1px solid #ddd;
    border-radius:4px;
    box-shadow:0px 0px 2px 1px rgba(0,0,0,.2);
    box-sizing:border-box;
}
.tl-content > .opus img{display:block;margin-bottom:5px;width:100%;
    border-radius:5px;overflow:hidden;
    transition:all ease-out .3s;
}
.tl-content > .opus:hover img{opacity:1;}
.tl-content > .opus strong{position:relative;overflow:hidden;
    display:block;padding:5px;
    font-weight:bold;
    font-size:16px;line-height:18px;color:#333;
}
.tl-content > .opus span{display:block;padding:0 5px;
    font-size:12px;line-height:20px;color:#555;
    transition:all ease-out .3s;
}
.tl-content > .opus em{
    display:block;padding:0 5px;
    font-size:12px;color:#555;
}
.tl-content > .userphoto {
    float:left;
    width:65px;
}
.tl-content > .userphoto em{
    display:block;position:relative;
    margin:0 auto;
    width:65px;height:65px;
    padding:3px;    background:#444;
    box-shadow:0px 1px 1px  rgba(0,0,0,.5) inset;
    border-radius:50%;
    transition:all ease-out .2s;
    box-sizing:border-box;
}
.tl-content > .userphoto img{
    display:block;width:100%;height:100%;
    box-shadow:1px 2px 2px rgba(0,0,0,.3);
    border-radius:50%;
}
.tl-content > .userphoto span{
    display:block;
    width:100px;margin-left:-17px;margin-top:5px;
    color:#ddd;text-align:center;
    text-shadow:1px 1px 0 #333;
    background:url(images/bg.png) 0 0 repeat;
}
.tl-content > .tl-type{
    float:left;
    display:block;
}
.tl-content > .tl-type span{
    display:block;
    width:50px;text-align:center;
    padding-top:7px;
    line-height:26px;font-size:20px;color:#333;
    border-bottom:1px solid #333;
    box-shadow:0 1px 0 #666;
    text-shadow:1px 1px 0 #666;
}
.tl-content > .tl-type em{
    display:block;text-align:center;
    line-height:20px;font-size:14px;color:#333;
    text-shadow:1px 1px 0 #666;
}
