.home{width:100%;
    position:relative;
    height:100%;
    box-shadow:2px 0 2px rgba(0,0,0,.3);
}
.home h1{
    line-height:100px;
    text-align:center;
    text-align:center;font-size:50px;color:#fff;
    font-family:"楷体";
}
.home p{
    text-align:center;
    color:#fff;font-size:18px;
    text-align:center;
}