.work{width:800px;
    position:relative;
    height:100%;
    background:#fff;
    box-shadow:2px 0 2px rgba(0,0,0,.3);
}

.work-left{
    position:absolute;top:0;left:0;bottom:0;
    width:300px;
    border-right:1px solid #ccc;
    background:#f1f1f1;
    box-sizing:border-box;
}
.work-right{position:relative;
    margin-left:300px;
    height:100%;
    background:#fff;
}